<html>
<title>Smart Pot Display</title>

<body>
    <link rel="stylesheet" href="../static/styles/formatting.css">
    <img class="plantIcon" src="../images/plant.png">
    <img class="weatherIcon" src="../images/weather/{%weather%}">

    <div class="sensorIcons">

        <div class="leftIcons">
            <div><img class="humidityIcon" src="../images/humidity/green.png"></div>
            <div><img class="moistureIcon" src="../images/moisture/green.png"></div>
        </div>

        <div class="rightIcons">
            <div> <img class="waterIcon" src="../images/waterLevel/orange.png"></div>
            <div><img class="lightIcon" src="../images/light/green.png"></div>
            <div><img class="temperatureIcon" src="../images/temperature/green.png"></div>
        </div>
    </div>
</body>



</html>